<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
 <link rel="stylesheet" type="text/css" href ="../css/offon.css">
</head>
<body>
	<p>效果来源：https://proto.io/freebies/onoff/</p>
    <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
        <label class="onoffswitch-label" for="myonoffswitch">
            <span class="onoffswitch-inner" id = "off"></span>
            <span class="onoffswitch-switch" id = "on"></span>
        </label>
    </div>
    <script src="../scripts/jquery.min.js"></script>
 <script src="../js/offon.js"></script>
</body>
</html>