<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
 <link rel="shortcut icon" href="#" />
</head>
<body>
<div>
<form action="">
	<input type="email" name ="tomail" id = "tomail" placeholder="收件人" value="1069466355@qq.com"/> 
	<input type="text" name ="title" id = "title" placeholder="邮件标题"  value="xlws测试" /> 
	<input type="text" name ="content" id = "content" placeholder="邮件内容"  value="xlws测试发送邮件，不用上心" />
	<input type="button" id = "sendmail" name ="sendmail"  value="发送">
</form>
	 
</div>
	<script src="../scripts/jquery.min.js"></script>
    <script src="../js/sendemail.js"></script>

</body>
</html>